/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Chat window styles */
.chat-window {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.utilities {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
}

/* User list styles */
.user-list {
  flex: 0 0 100px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  overflow-y: auto;
  font-size: 8pt;
}

/* Message list styles */
.message-list {
  flex: 1;
  padding: 10px;
  font-size: 10pt;
  overflow-y: auto;
}

.message {
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.skill-triggers-window {
  max-width: 600px;
  height: 100%;
  max-height: fit-content;
  margin: 0 auto;
}

.skill-triggers-window h2 {
  text-align: center;
}

.skill-triggers-window table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
}

.skill-triggers-window button {
  width: 50%;
  border-collapse: collapse;
  margin-bottom: 2px;
}

.skill-triggers-window th, .skill-triggers-window td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

/* Set specific widths for each column */
.skill-triggers-window th:nth-child(1),
.skill-triggers-window td:nth-child(1) {
  width: 5%; /* Adjust as needed */
}

.skill-triggers-window th:nth-child(2),
.skill-triggers-window td:nth-child(2) {
  width: 30%; /* Adjust as needed */
}

.skill-triggers-window th:nth-child(3),
.skill-triggers-window td:nth-child(3) {
  width: 50%; /* Adjust as needed */
}

.skill-triggers-window th:nth-child(4),
.skill-triggers-window td:nth-child(4) {
  width: 20%; /* Adjust as needed */
  text-align: left;
}

.add-skill-trigger {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.add-skill-trigger button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.add-skill-trigger button:hover {
  background-color: #0056b3;
}

/* Message input styles */
form {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

input[type="text"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
